# Robot application configuration file
version = "1.0";

application:
{
  windows =
  ( 
	matches = { 
		name = "Matches";
		trackbars =
		(
			threshold			=	{ name = "THRESHOLD"; maxvalue = 120; };
			density				=	{ name = "DENSITY"; maxvalue = 10; };
			npts				=	{ name = "NPTS"; maxvalue = 100; };
			eventthreshold		=	{ name = "EVENT_THRESHOLD"; maxvalue = 10; };
			medianblur			=	{ name = "MEDIAN_BLUR_WINDOW"; maxvalue = 10; };
			errorthreshold		=	{ name = "ERROR_THRESHOLD"; maxvalue = 100; };
			gausssigma			=	{ name = "GAUSS_SIGMA"; maxvalue = 10; };
			laplacekernel		=	{ name = "LAPLACE_KERN"; maxvalue = 10; };
			obstaclethreshold	=	{ name = "OBST_THRESHOLD"; maxvalue = 25; };
		)
	},
	left = { name = "Left"; },
	right = { name = "Right"; },
  );
  
  {
    title = "My Application";
    size = { w = 640; h = 480; };
    pos = { x = 350; y = 250; };
  };

  list = ( ( "abc", 123, true ), 1.234, ( /* an empty list */) );

  books = ( { title  = "Treasure Island";
              author = "Robert Louis Stevenson";
              price  = 29.95;
              qty    = 5; },
            { title  = "Snow Crash";
              author = "Neal Stephenson";
              price  = 9.99;
              qty    = 8; } );

  misc:
  {
    pi = 3.141592654;
    bigint = 9223372036854775807L;
    columns = [ "Last Name", "First Name", "MI" ];
    bitmask = 0x1FC3;
  };
};