################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ObstacleAvoidance.VC.VC.opendb
/ObstacleAvoidance.VC.db
